<div class="row">
    <div class="col-8 mx-auto my-5">
        <p class="fs-1 text-center fw-bold">Ventas de pasajes</p>
        <button type="button" class="btn btn-primary my-3" (click)="agregarPasaje()">Nuevo Pasaje</button>
        <!--         <div class="bg-success">
            <label>Precio Final:</label> {{precioActual}}
        </div> -->
        <table class="table text-center bg-white">
            <!--  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pasajes">
                    <th scope="row">{{p.idPasajero}}</th>
                    <td>{{p.dniPasajero}}</td>
                    <td>{{p.precio}}</td>
                    <td>{{p.categoriaPasajero}}</td>
                    <td>{{p.fechaCompra | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="editarPasaje(p)">Editar</button>
                        <button type="button" class="btn btn-danger mx-3" (click)="borrarPasaje(p)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>